<% include partials/header %>
<header>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome To helpCamp</h1>
            <hr class="my-4">
            <p class="lead">view and add camps..</p>
            <a href="/camps" class="btn btn-dark" role="button">View Camps</a>    
        </div>
        
    </div>
</header>

<%include partials/footer %>